@font-face {
    font-family: 'SF TransRobotics';
    src: url('SFTransRobotics.woff2') format('woff2'),
        url('SFTransRobotics.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

